@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@import 'imports/settings', 'imports/defaults', 'imports/responsive';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}

#root {
    padding-top: 75px;
}

.app__header {
    & > * { 
        padding: 0.5em var(--default-margin);
    }

    @import 'components/Nav', 'components/Hero';
}
