.app__hero {
    display: grid;
    grid-template-columns: 60% 40%;
    height: calc( 90vh - 75px );
    max-height: 500px;
    align-items: center;
    overflow: hidden;

    .hero-text {
        * {
            margin: 0.25em 0;
        }
        .title {
            font-size: 40px;
        }

        .description {
            font-weight: 300;
        }

        .action {
            margin-top: 1.7em;

            .app__button {
                padding: 1em 1.5em;

                .icon {
                    height: 17px;
                    width: 17px;
                    display: flex;
                    align-items: center;
                    margin-left: 0.5em;
                }
            }
        }
    }

    .right {
        height: 100%;

        .hero-art {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            position: relative;
            
            img {
                position: absolute;
                top: 50%;
                left: 0%;
                z-index: -1;
                width: 120%;
                transform: translateY(-50%);
            }
        }
    }
}