.app__nav {
    background: #ffffffdc;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(2px);

    .left {
        width: 20%;

        .app__logo {
            margin-right: auto;
        }
    }

    .right {
        width: 70%;

        .nav-items {
            width: auto;
            padding: 0 0.5em;

            &.active {
                transform: translate(0, 0);
            }

            &.mobile {

            }

            .item {
                padding: 0 1em;
                text-decoration: none;
                color: #333;
                transition: 0.4s;
                font-weight: 400;
                font-size: 15px;

                &.active, 
                &:hover {
                    color: $accent_color;
                }


            }
        }

        .mobile-nav-controller {
            display: none;
        }
    }
}