.App {

    .app__to-top {
        position: fixed;
        z-index: 5;
        right: 2em;
        bottom: 2em;
        width: 50px;
        height: 50px !important;
        display: flex;
        color: #ffffff;
        background: $accent_color;
        box-shadow: 0px 0px 0px 5px $accent_color_opaque;
        border-radius: 100%;
        padding: 0.5em;
        opacity: 0.7;
        transition: opacity 0.4s;

        &.in-active {
            opacity: 0;
        }
        
        .icon {
            padding: 0.3em !important;

            svg {
                width: 100% !important;
            }
        }

        
    }

    .flat-centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .flat-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .bg-pattern {
        position: fixed;
        top: 50%;
        left: -50%;
        width: 100%;
        transform: translateY(-50%);
        opacity: 0.35;
        z-index: -1;
    }
    
    .app__logo {
        display: flex;
        font-weight: 700;
        font-size: 21px;
        height: 25px;

        .image {
            height: 100%;
            margin-right: 0.5em;
        }
    }
    
    .button_wrapper {
        text-decoration: none !important;

        .app__button {
            display: flex;
            border-radius: 50px;
            background: $accent_color;
            color: #ffffff;
            border: none;
            padding: 0.5em;
            font-size: 15px;
            margin-right: auto;
        }
    }
    
    .app__button:active,
    .app__button:hover {
        box-shadow: 0px 0px 0px 4px $accent_color_opaque;
        transform: scale(0.97);
    }
    
    .icon {
        height: auto;
    }
    
    .icon svg{
        width:100% !important;
        height: 100% !important;
    }
    
    .app__title {
        position: relative;
    
        .text {
            display: flex;
            flex-direction: column;
    
            .underline {
                position: relative;
                height: 2.5px;
                display: grid;
                grid-template-columns: 20% 50%;
                grid-column-gap: 10%;
    
                & * {
                    border-radius: 20px;
                }
    
                .main {
                    background: $accent_color;
                }
    
                .sub {
                    background: $accent_color_opaque;
                }
            }
        }
    }
    
    .app__section {
        margin-bottom: 3em;
        width: 100%;

        & > * {
            width: 100%;
        }
        
        .title {
            margin-bottom: 3em;
        }

        .content {
            font-weight: 300;
            p {
                margin-bottom: 0.5em;
            }
        }
    }
}