@media (max-width: 900px) {
    .app__hero {
        .right {
            .hero-art {
                img {
                    width: 150% !important;
                }
            }
        }
    }

    .app__section {
        .cards {
            flex-wrap: wrap;

            .card {
                width: 50% !important;
            }
        }
    }
}

@media ( max-width: 670px ) {
    :root {
        --default-margin: 5em;
    }

    .app__hero {
        grid-template-columns: 100% !important;

        .left { 

            .hero-text {
                align-items: center;
                justify-content: center;
                text-align: center;

                .action {
                    .app__button {
                        font-size: 17px;
                        margin: auto;
                        
                    }
                }
            }
        }

        .right {
            .hero-art {
                position: initial !important;

                img {
                    top: 5%  !important;
                    transform: none !important;
                    left: -5% !important;
                    opacity: 0.1;
                    width: 200% !important;
                    max-width: 100vw !important;
                }
            }
        }
    }

    .app__section {
        .cards {
            flex-direction: column;

            .card {
                width: 100% !important;
                margin: auto !important;
                margin-bottom: 1em !important;

                .image {
                    overflow: hidden;
                }
            }
        }
    }

    .app__contact {
        .main-content {
            flex-wrap: wrap;

            & > * {
                width: 100% !important;
            }
        }
    }
}

@media ( max-width: $mobile_max-width ) {
    :root {
        --default-margin: 3em;
    }

    .app__nav {
        z-index: 2;

        .nav-items {
            position: fixed;
            top: 0;
            right: 0;
            background: $accent_color;
            padding: 1em 0.5em !important;
            border-radius: 5px;
            flex-direction: column;
            margin: 70px 2em 0em 0em;
            transition: transform 0.4s;
            z-index: 1;

            .item {
                width: 100%;
                justify-content: flex-start;
                color: #ffffff !important;
                font-size: 16px !important;
                font-weight: 400 !important;
                padding: 0.3em 1em !important;

                &.active,
                &:hover {
                    font-weight: 600 !important;
                    transform: scale(1.08);
                    color: #ffffff !important;
                }
            }
        }

        .mobile-nav-controller {
            width: 40px;
            height: 40px;
            padding: 0.3em;
            display: flex !important;

            * {
                width: 0%;
                height: 100%;
                overflow: hidden;
                transition: width 0.4s;
            }
        }

        &.active {
            .mobile-nav-controller {
                .close {
                    width: 100%;
                }
            }

            .nav-items {
                transform: translateX(0) scale(1);
            }
        }
    
        &.inactive {
            .mobile-nav-controller {
                .open {
                    width: 100%
                }
            }

            .nav-items {
                transform: translateX(100%) scale(0.7);
            }
        }
    }

    .app__hero {
        position: relative;
        z-index: 0;

        .left {
            .title {
                font-size: 30px !important;
            }
            
            .action {
                .app__button {
                    font-size: 14px !important;
                }
            }
        }

    }
}